#lab-title {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 20px 25px;
    float: center;
    color: #353985;
}
.lab-area div{
    padding: 40px;
}
#first-equip{
    color: #00cc99;
    border: solid 1px grey;
}
#second-equip{
    color: #009999;
    border: solid 1px grey;
}