
.container-custom{
  /* position: relative;
  top:-80px; */
}

/* .tooltip-arrow,
.red-tooltip + .tooltip > .tooltip-inner {background-color: #f00;} */

.add-input{
  margin-left: 6rem!important;
}

.add-output{
  margin-left: 21rem!important;
}

.lab-top-wrapper{
  height: 94px;
  background-color: #673ab75e;
}

.navbar-right-wrapper{
  transform: translateX(70%);

}

.lab-title-banner-wrapper{
  height: 48px;
  background-color: white;
  margin-top: 20px;
  margin-top: 5.5rem!important;
  text-align: center;
}


.container{
  background-color:white;
  width: 65%!important;
}

.content{
    padding: 2rem;
    border:1px solid rgba(146, 188, 232, 0.25);
    border-top: 10px solid rgba(146, 188, 232, 0.25);
    border-radius: 15px;
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
    margin-top: 6rem;
}

.color {
    background-color: yellow;
}

textarea, input, select{
  border:none!important;
  border-bottom:2px solid rgba(146, 188, 232, 0.25)!important;
  outline: none;
}

.input-info{
  outline: none;
}

.submit{
  margin: 2rem;
}
