body {
    /*background-color: gainsboro;*/
}

#top-half {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0%;
    /*background-color: black;*/
    z-index: 1;
}

/*.vertical-center {*/
/*    min-height: 100%;   !* Fallback for browsers do NOT support vh unit *!*/
/*    min-height: 50vh;   !* These two lines are counted as one :-)       *!*/

/*    display: flex;*/
/*    align-items: center;*/
/*}*/
/*.form-control.select2 {*/
/*    width: auto;*/
/*}*/

.input-group {
    width:auto;
}

/*Dual list*/
.dual-list .list-group {
    margin-top: 8px;
}

.list-left li, .list-right li {
    cursor: pointer;
}

.list-arrows {
    padding-top: 100px;
}

.list-arrows button {
    margin-bottom: 20px;
}

#labFilterBar #courseFilterBar {
    width:auto;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}