
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:divth="http://www.w3.org/1999/html">
<head>
    <title>Lab Sim</title>
    <link rel="icon" href="../static/resources/images/icon.png" th:href="@{/resources/images/icon.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
    <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/resources/css/styles.css" th:href="@{/resources/css/styles.css}">
    <!--    <script type="text/javascript" src="../static/resources/js/dashboard.js" th:src="@{/resources/js/dashboard.js}"></script>-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/resources/css/styles.css" th:href="@{/resources/css/styles.css}">
    <link rel="stylesheet" type="text/css" href="../static/resources/css/lab_common.css" th:href="@{/resources/css/lab_common.css}">
    <link rel="stylesheet" type="text/css" href="../static/resources/css/lab_edit.css" th:href="@{/resources/css/lab_edit.css}">

</head>
<body>
<nav class="mb-1 navbar navbar-expand-sm navbar-light">
    <img id="logo" src="../static/resources/images/icon.png" th:src="@{/resources/images/icon.png}"/>
    <a class="navbar-brand" href="#">Lab Sim</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a th:href="@{market}">Go to market</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item avatar dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle z-depth-0"
                         th:src="${user.avatar_url == null || user.avatar_url.isEmpty()} ? '/resources/images/default.png':${user.avatar_url}">
                    <!--/*@thymesVar id="user" type=""*/-->
                    <span th:text="${user.getNickname()}"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-secondary"
                     aria-labelledby="navbarDropdownMenuLink-55">
                    <!--                        <a class="dropdown-item" href="#">game history</a>-->
                    <a class="dropdown-item" id="logout-link" href="/logout" th:href="@{/logout}">logout</a>

                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="lab-container">
    <div class="toolbar">
        <div class="lab-col mt-4">
            <div class="card ">
                <div class="card-header">
                    All Courses
                </div>

                <div class="card-container" >
                    <div id="add-course-dashboard" class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" th:each="course: ${courses}">
                            <div class="box-part text-center">
                                <i class="mdi mdi-add" aria-hidden="true"></i>
                                <div class="title" th:text="${course.getName()}"></div>
                                <div class="text" th:text="${course.getDescription()}"></div>
                                <a href="/addCourse" th:href="@{/}" class="stretched-link">Get More</a>
                                <br>
                                <a href="/addCourse" th:href="@{'/course/'+${course.id}+'/manageCourse'}" class="stretched-link">Edit Course</a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="box-part text-center">
                                <i class="mdi mdi-add" aria-hidden="true"></i>
                                <div class="title">
                                    <h4>Add A New Course</h4>
                                </div>
                                <div class="text">
                                    <span>add more course</span>
                                </div>
                                <a href="/addCourse" th:href="@{/addCourse}" class="stretched-link">Click me</a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="lab-col mt-4">
        <div class="card card-own">
            <div class="card-header">
                All Labs
            </div>
                <div class="card-container">

                    <div id="add-lab-dashboard" class="row">

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" th:each="lab: ${labs}">
                            <div class="box-part text-center">
                                <i class="mdi mdi-add" aria-hidden="true"></i>
                                <div class="title" th:text="${lab.getTitle()}"></div>
                                <div class="text" th:text="${lab.getDescription()}"></div>
                                <a href="/addCourse" th:href="@{'/lab/' + ${lab.id} + '/edit'}" class="stretched-link">edit</a><br>
                                <a href="/addCourse" th:href="@{'/lab/' + ${lab.id} + '/do'}" class="stretched-link">do</a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="box-part text-center">
                                <i class="mdi mdi-add" aria-hidden="true"></i>
                                <div class="title">
                                    <h4>Add A New Lab</h4>
                                </div>
                                <div class="text">
                                    <span>add more labs</span>
                                </div>
                                <a href="/create_lab" th:href="@{/create_lab}" class="stretched-link">Click me</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/resources/js/addCourse.js}"></script>
</body>

</html>