<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:divth="http://www.w3.org/1999/html">
<head>
    <title>Lab Sim</title>
    <link rel="icon" href="../static/resources/images/icon.png" th:href="@{/resources/images/icon.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
    <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/resources/css/styles.css" th:href="@{/resources/css/styles.css}">
<!--    <script type="text/javascript" src="../static/resources/js/dashboard.js" th:src="@{/resources/js/dashboard.js}"></script>-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>
<body>
    <nav class="mb-1 navbar navbar-expand-sm navbar-light">
        <img id="logo" src="../static/resources/images/icon.png" th:src="@{/resources/images/icon.png}"/>
        <a class="navbar-brand" href="#">Lab Sim</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item avatar dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle z-depth-0"
                             th:src="${user.avatar_url == null || user.avatar_url.isEmpty()} ? '/resources/images/default.png':${user.avatar_url}">
                        <!--/*@thymesVar id="user" type=""*/-->
                        <span th:text="${user.getNickname()}"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-secondary"
                         aria-labelledby="navbarDropdownMenuLink-55">
<!--                        <a class="dropdown-item" href="#">game history</a>-->
                        <a class="dropdown-item" id="logout-link" href="/logout" th:href="@{/logout}">logout</a>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="lab-container">
        <div class="toolbar">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." style="width: 300px">
                <button type="button" aria-label="Search">
                <i class="mdi mdi-magnify" aria-hidden="true"></i>
            </button>
            </div>
        </div>
        <div class="lab-col mt-4">
            <div class="card ">
                <div class="card-header">
                    All Courses
                </div>
                <div class="card-container">
                    <div id="add-course-dashboard" class="row">

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                            <div class="box-part text-center">
                                <i class="mdi mdi-add" aria-hidden="true"></i>
                                <div class="title">
                                    <h4>Add A New Course</h4>
                                </div>
                                <div class="text">
                                    <span>add more course</span>
                                </div>
<!--                                <a href="/addCourse" th:href="@{/addCourse}" class="stretched-link">Click me</a>-->
                                    <!-- Trigger the modal with a button -->
                                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Click me</button>
                                    <div class="modal fade" id="myModal" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Add a new course</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                                </div>
                                                <div class="modal-body">
                                                    <div class="md-form">
                                                        <input type="text" id="Form-Course-Name" class="form-control" placeholder="Course Name">
                                                    </div>

                                                    <div class="md-form">
                                                        <input type="text" id="Form-Course-Section" class="form-control" placeholder="Course Section">
                                                    </div>

                                                    <div class="md-form">
                                                        <input type="text" id="Form-Course-Descrip" class="form-control" placeholder="Course Description">
                                                    </div>

                                                    <div class="text-center mb-3">
                                                        <button id="add-course-btn" type="button" class="btn btn-block btn-rounded z-depth-1a">Add Course</button>
                                                    </div>
                                                </div>
<!--                                                <div class="modal-footer">-->
<!--                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
<!--                                                </div>-->
                                            </div>

                                        </div>
                                    </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lab-col mt-4">
            <div class="card card-own">
                <div class="card-header">
                    All Labs
                </div>
                <div class="card-container">
                    <div id="add-lab-dashboard" class="row">

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                            <div class="box-part text-center">
                                <i class="mdi mdi-add" aria-hidden="true"></i>
                                <div class="title">
                                    <h4>Add A New Lab</h4>
                                </div>
                                <div class="text">
                                    <span>add more labs</span>
                                </div>
                                <a href="/addCourse" th:href="@{/addLab}" class="stretched-link">Click me</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/resources/js/addCourse.js}"></script>
</body>

</html>