<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:divth="http://www.w3.org/1999/html">
<head>
    <title>Lab Sim</title>
    <link rel="icon" href="../static/resources/images/icon.png" th:href="@{/resources/images/icon.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f49d6c9a46.js" crossorigin="anonymous"></script>
    <!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">-->
    <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<!--    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->

    <link rel="stylesheet" type="text/css" href="../static/resources/css/styles.css" th:href="@{/resources/css/styles.css}">
    <link rel="stylesheet" type="text/css" href="../static/resources/css/lab_common.css" th:href="@{/resources/css/lab_common.css}">
    <link rel="stylesheet" type="text/css" href="../static/resources/css/lab_edit.css" th:href="@{/resources/css/lab_edit.css}">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let lab = [[${lab}]];
        /*]]>*/
    </script>
</head>
<body>
    <nav class="mb-1 navbar navbar-expand-sm navbar-light">
        <img id="logo" src="../static/resources/images/icon.png" th:src="@{/resources/images/icon.png}"/>
        <a class="navbar-brand" href="#">Lab Sim</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item avatar dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle z-depth-0"
                             th:src="${user.avatar_url == null || user.avatar_url.isEmpty()} ? '/resources/images/default.png':${user.avatar_url}">
                        <!--/*@thymesVar id="user" type=""*/-->
                        <span th:text="${user.getNickname()}"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-secondary"
                         aria-labelledby="navbarDropdownMenuLink-55">
                        <!--                        <a class="dropdown-item" href="#">game history</a>-->
                        <a class="dropdown-item" id="logout-link" href="/logout" th:href="@{/logout}">logout</a>

                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="lab-container d-flex">
        <div class="d-inline side-list top-border-card" id="equip-list">
            <div class="equip-list-header">
                <span class="font-weight-bold">Equipment List</span>

                <button class="text-btn no-border-btn" data-toggle="modal" data-target="#equip-market-modal"><span aria-hidden="true">+</span></button>
            </div>
            <div id="equip-item-list">

            </div>
        </div>
        <div class="d-inline" id="main-canvas">
            <div class="lab-canvas">
                <div class="step-basic top-border-card">
                    <div class="h3 step-basic-header">
                        <span>Step </span><span id="step-edit-counter">0</span>
                    </div>
                    <div class="step-brief">
                        <textarea rows='1' id="step-instruction-input" placeholder="Instruction"></textarea><br>
                    </div>
                </div>
                <div id="initial-edit" style="display: none">
                    <div class="section-card">
                        <div class="section-card-header">
                            <h4>Initial Setup</h4>
                        </div>
                        <ul id="initial-states-container" class="list-group states-container">
                        </ul>
                        <div></div>
                    </div>
                </div>
                <div id="not-initial-edit" style="display: none">
                    <div id="before-section" class="section-card">
                        <div class="section-card-header">
                            <h4>Before</h4><h6>Add equipments(1 or 2) for this step.</h6>
                        </div>
                        <ul class="list-group states-container">
                            <li class="list-group-item optionOne option">
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label>Equipment</label>
                                            <select class="form-control inputEquip">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Property</label>
                                            <input type="text" class="form-control inputProperty" disabled>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Value</label>
                                            <input type="text" class="form-control inputValue" disabled>
                                        </div>
                                    </div>
                            </li>
                            <li class="list-group-item optionTwo option">
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label>Equipment</label>
                                        <select class="form-control inputEquip">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Property</label>
                                        <input type="text" class="form-control inputProperty" disabled>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Value</label>
                                        <input type="text" class="form-control inputValue" disabled>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="after-section" class="section-card">
                        <div class="section-card-header">
                            <h4>After</h4><h6>Set new states.</h6>
                        </div>
                        <ul class="list-group states-container">
                            <li class="list-group-item optionOne option">
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label>Equipment</label>
                                        <select class="form-control inputEquip" disabled>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Property</label>
                                        <input type="text" class="form-control inputProperty">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Value</label>
                                        <input type="text" class="form-control inputValue">
                                    </div>
                                    <button class="text-btn no-border-btn add-property-btn"><span aria-hidden="true">+</span></button>
                                </div>
                            </li>
                            <li class="list-group-item optionTwo option">
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label>Equipment</label>
                                        <select class="form-control inputEquip" disabled>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Property</label>
                                        <input type="text" class="form-control inputProperty">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Value</label>
                                        <input type="text" class="form-control inputValue">
                                    </div>
                                    <button class="text-btn no-border-btn add-property-btn"><span aria-hidden="true">+</span></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="section-card">
                        <div class="section-card-header">
                            <h4>Action</h4><h6>Add actions!</h6>
                        </div>
                    </div>
                </div>

                <div id="edit-button-panel">
                    <button id="delete-step-btn" type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-step-confirm">Delete</button>
                </div>

            </div>

        </div>
        <div class="d-inline side-list top-border-card" id="step-list">
            <div class="equip-list-header">
                <span class="font-weight-bold">Step List</span>
                <button class="text-btn no-border-btn" id="add-step-btn"><span aria-hidden="true">+</span></button>
            </div>
            <ul class="list-group" id="step-item-list">

            </ul>
        </div>
    </div>
    <div class="modal fade" id="equip-market-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Equipment Market</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#upload-equip-modal" id="add-new-equip-btn">Add Equipment</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#equip-cart-modal" id="view-cart-button">View Shopping Cart</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="equip-cart-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Shopping Cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">

                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="add-to-lab-btn">Add to Lab</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade message-modal" id="delete-step-confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="fas fa-trash"></i>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body text-center">
                    <h4>Confirm</h4>
                    <h6 id="delete-step-confirm-msg"></h6>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                    <button type="button" class="btn btn-danger" id="remove-step-confirm-btn">Delete</button>
                </div>
<!--                <div class="modal-footer">-->
<!--                    -->
<!--                </div>-->
            </div>
        </div>
    </div>
    <div class="modal fade message-modal" id="delete-state-error">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="fas fa-times"></i>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body text-center">
                    <h4>Ooops!</h4>
                    <h6 id="delete-state-err-msg"></h6>
                    <button class="btn btn-info" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade message-modal" id="upload-equip-modal">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="fas fa-flask"></i>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body text-center">
                    <h6>Upload new Equipment</h6>
                    <form method="POST" th:action="@{/equips/add}" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="add-equip-name">Equipment Name</label>
                            <input type="text" class="form-control text-center" id="add-equip-name" name="title">
                        </div>
                        <div class="form-group">
                            <div class="custom-file">
                                <label for="add-equip-image">Select Image</label>
                                <input type="file" class="custom-file-input" name="image" id="add-equip-image">
                                <label class="custom-file-label" for="add-equip-image">Choose file</label>
                            </div>
                        </div>
                        <input  class="btn btn-info" type="submit" value="Upload" />
                    </form>

                </div>
            </div>
        </div>
    </div>
    <h1>Upload new Photo</h1>
    <script th:src="@{/resources/js/lab_common.js}"></script>
    <script th:src="@{/resources/js/lab_edit.js}"></script>
    <script th:src="@{/resources/js/lab_edit_equip_market.js}"></script>

</body>
</html>