<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--    Bootstrap CSS-->
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">

    <!--    Custom CSS-->
    <link rel="stylesheet" href="../static/resources/css/market.css" th:href="@{/resources/css/market.css}">
    <link rel="stylesheet" type="text/css" href="../static/resources/css/styles.css" th:href="@{/resources/css/styles.css}">

    <!--    fontawesome Icon CSS-->
    <link rel="stylesheet" href="../static/resources/fonts/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/resources/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">

    <!--    jquery-ui CSS-->
    <link rel="stylesheet" href="../static/resources/css/jquery-ui/jquery-ui.min.css" th:href="@{/resources/css/jquery-ui/jquery-ui.min.css}">

    <!--    Bootstrap Javascript-->
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <!--    jquery Javascript-->
    <!--    <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>-->
    <script src="../static/resources/js/jquery-ui/jquery-1.11.1.min.js"></script>

    <!--    jquery-ui Javascript-->
    <script src="../static/resources/js/jquery-ui/jquery.js" th:src="@{/resources/js/jquery-ui/jquery.js}"></script>
    <script src="../static/resources/js/jquery-ui/jquery-ui.min.js" th:src="@{/resources/js/jquery-ui/jquery-ui.min.js}"></script>

    <!--    Custom Javascript-->
    <script src="../static/resources/js/market.js" th:src="@{/resources/js/market.js}"></script>
    <title>Market</title>

</head>
<body>
    <h2>Add your favorite courses</h2>
    <select id="sbOne" multiple="multiple">
        <option value="1">CSE307</option>
        <option value="2">CSE214</option>
        <option value="3">AMS301</option>
        <option value="4">ECO101</option>
        <option value="5">CHE330</option>
    </select>

    <select id="sbTwo" multiple="multiple">
        <option value="6">CSE308</option>
        <option value="7">CSE346</option>
    </select>

    <br />

    <input type="button" id="left" value="<" />
    <input type="button" id="right" value=">" />


</body>

</html>

<!--        <div id="market" class="row">-->
<!--            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" th:each="course: ${courses}">-->
<!--                <div class="box-part text-center">-->
<!--                    <i class="mdi mdi-add" aria-hidden="true"></i>-->
<!--                    <div class="title" th:text="${course.getName()}"></div>-->
<!--                    <a href="/addCourse" th:href="@{/}" class="stretched-link">Get More</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--                <div class="input-group-prepend">-->
<!--                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>-->
<!--                    <div class="dropdown-menu">-->
<!--                        <a class="dropdown-item" href="#">Action</a>-->
<!--                        <a class="dropdown-item" href="#">Another action</a>-->
<!--                        <a class="dropdown-item" href="#">Something else here</a>-->
<!--                    </div>-->
<!--                </div>-->