<!DOCTYPE html>
<html lang="en">
<head>
	<title>Lab</title>
  <link rel="icon" href="images/logo.jpg">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link href="https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
	<link rel="stylesheet" type="text/css" href="css/insMakeLab.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="js/insMakeLab.js"></script>

</head>

<body>
	<nav class="navbar row navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<div class="Lab-logo col">
			<img src="images/logo.jpg" alt="logo">
		</div>

		<!-- <div class="lab-personal-info"></div> -->
		<div class="lab-personal-info collapse navbar-collapse col" id="navbarSupportedContent-555">
			 <ul class="navbar-nav ml-auto nav-flex-icons">
					 <li class="nav-item avatar dropdown">
							 <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">
									<i class="mdi mdi-dots-vertical" aria-hidden="true"></i>
									 <img class="rounded-circle z-depth-0"
												src="images/default.png">
									 <span class="user-name">Xiao Liu</span>
							 </a>
							 <div class="dropdown-menu dropdown-menu-right dropdown-secondary"
										aria-labelledby="navbarDropdownMenuLink-55">
									 <a class="dropdown-item" id="Change-State-link" >Change State</a>
							 </div>
					 </li>
			 </ul>
		</div>
	</nav>
  <div class="container container-custom">
    <div class="content">
      <div class="row">
        <div class="col">
          <label>Name</label>
        </div>
        <button class="btn btn-light">Upload Equipment Image</button>
      </div>
      <div class="row">
				<label class="col">Input </label>
				<div class="col-3">
					<select name="Output State" class="custom-select">
							<option class="option" value="Output">State</option>
							<option class="option" value="Solid">Solid</option>
							<option class="option" value="Liquid">Liquid</option>
							<option class="option" value="Gas">Gas</option>
					</select>
					<span class="select-btn">
							<i class="zmdi zmdi-chevron-down"></i>
					</span>
				</div>
			</div>
      <div class="row">
				<label class="col">Output </label>
				<div class="col-3">
					<select name="Output State" class="custom-select">
							<option class="option" value="Output">State</option>
							<option class="option" value="Solid">Solid</option>
							<option class="option" value="Liquid">Liquid</option>
							<option class="option" value="Gas">Gas</option>
					</select>
					<span class="select-btn">
							<i class="zmdi zmdi-chevron-down"></i>
					</span>
				</div>
			</div>
      <div class="row">
        <div class="col-15">
          <button class="btn btn-light">Submit New Equipment</button>
        </div>
      </div>
      <div class="row">
        <div class="text">
          <span>*Please upload the image with white backgroud</span>
        </div>
      </div>

      </div>
    </div>
  </div>

</body>
</html>
